<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>New Fruit Form</title>
  </head>
  <body>
    <h1>New Fruit Page</h1>
    <form action="/fruits" method="POST">
      <input type="text" name="name" placeholder="Name" required /><br /><br />
      <input
        type="text"
        name="color"
        placeholder="Fruit Color"
        required
      /><br /><br />
      <label for="readyToEat">Ready To Eat</label>
      <input type="checkbox" name="readyToEat" /><br /><br />
      <input type="submit" value="Create Fruit" />
    </form>
  </body>
</html>
