<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>
      <% if(currentUser){%> Welcome <%= currentUser.username %>
      <form action="/login/logout" method="POST">
        <input type="submit" value="Logout" />
      </form>
      <a href="/login/secret">Secret Message</a>
      <%} else { %> Welcome
    </h1>
    <ul>
      <li><a href="/login">Login</a></li>
      <br />
      <li><a href="/signup">Sign Up</a></li>
    </ul>
    <%}%>
  </body>
</html>
