<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Fruits Show Page</title>
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <h1>Fruit Details</h1>
    The <%=fruitDetails.name%> is of color <%=fruitDetails.color%> and it is <%
    if(fruitDetails.readyToEat === true){ %> ready to eat. <%} else {%> not
    ready to eat. <%}%>
    <br />
    <br />
    <a href="/fruits">Back to Index</a>
  </body>
</html>
